<h1>COUNTRIES LIST EXAMPLE</h1>


<div>
  <input id="country-name-input" type="text" />
  <button id="get-country-btn">Get the country</button>
</div>

<h2 id="country-name"></h2>
<p id="country-capital"></p>
<div>
  <img id="country-flag" src="" height="200px" />
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/index-countries.js"></script>