
    <div>

      <header>
        <h2>SpaceX Info</h2>
      </header>

      <main class="cards-container">

        <div class='category-card'>
          <h3>Launches</h3> <br>
          <p>Click the button to see the list SpaceX launches and data.</p> <br>
          <a href="/launches"> See Movies </a>
        </div>

      </main>

    </div>
