<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IH + SpaceX</title>
  <link rel="stylesheet" href="/css/styles.css">    
</head>

<body>

  <nav class="navbar">
    <h3> IH SpaceX Fans </h3>
    <div class="navbar-nav">
      <a href="/">Home</a>
      <a href="/launches">Launches</a>
    </div>
  </nav>

  <div class='view-container'>
    
    {{{ body }}}

  </div>
  
</body>
</html>