<div>

  <h1>This is the HOME PAGE</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium sapiente voluptatum eaque doloribus sed eos inventore quos excepturi numquam, ipsum, quis similique rem! Nobis vel autem animi temporibus eveniet?</p>


  <h2>Users:</h2>

  <div>

    {{#each users}}

        {{> usercard this }}

    {{/each}}


  </div>
</div>